



body{
    background: linear-gradient(120deg, #0b40ee, hsl(273, 100%, 68%), #ffffff);
}
h2,h1,h3,h4{
  color: rgb(255, 255, 255)
}
#txt{
    color: rgb(0, 0, 0);
}

.uvod{
   text-align: center;
}
#txte {
    color: black;
}

h4,h1,h2,h3 {
font-size: 20px;
font-style: oblique;

}
#lista{
    color: rgb(12, 3, 95);
    font-size: 20px;
    font-style: oblique;
   
}
h1{
 font-size: 50px;
 text-align: center;
}
h3,h4{
    text-align: center;
}
#txte{
    text-align: center;
}
table{
    width:20%;
margin:20px auto;
border-collapse;
font-family: Arial, Helvetica, sans-serif;
}
th{
    background-color: :#ff4d4d;
    color:black;
    padding:12px;
    text-align:center;
    font-size:20px;
    border:2px solid #cc0000;
}
tr {
    color: black;
    border: 2px solid rgb(25, 10, 228);
}
form{
    color: black;
}
a{
    text-decoration:none;
    color:#ffffff;

}































@media(max-width) {
table{
    width:10%;
margin:10px auto;
border-collapse;
font-family: Arial, Helvetica, sans-serif;
}
#lista{
    color: rgb(187, 183, 219);
    font-size: 10px;
    font-style: oblique;
   
}
h4,h1,h2,h3 {
font-size: 10px;
font-style: oblique;

}
th{
    background-color: :#ff4d4d;
    color:black;
    padding:10px;
    text-align:center;
    font-size:10px;
    border:1px solid #cc0000;
}
}